|===
|에러 코드|상태 코드|한글 메시지|영문 메시지

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{code}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{engErrorMessage}}{{/tableCellContent}}

{{/fields}}
|===
